<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VUE JS PRACTICE</title>
    <script src="vuejs/vue.js"></script>

    </script>
    <style>
        body{
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>

</head>
<body>
    <div id="app">
           
        
        <h1>{{message.head}}</h1>
        <input type="text" v-model="txt_Task">
        <button v-on:click="insertData">Add</button>

        <div>
            {{txt_Task}}
        </div>
        <ul>
            <li v-for="(todo,index) in todos">
                {{todo.text}} <button>Done</button><button v-on:click="deleteData(index)">Delete</button>

            </li>
        </ul>
    </div>

   <div id="app-4">
    <h1>{{title}}</h1>
    <ol>       
        <li v-for="todo in todos">
            {{ todo.text }} 
        </li>
    </ol>
    </div>


   
 
   <script src="vuejs/controller.js"></script>
</body>
</html>